<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zadanye</title>
    <link href="../public/css/app.css" rel="stylesheet">
</head>

<body>
 
    <div class="max-w-screen-2xl mx-auto my-0 p-4">    
        <div class="grid grid-cols-4 gap-4">
            <div class="bg-red-300 p-12 text-center col-span-4 md:col-span-2               xl:col-span-1">1</div>
            <div class="bg-red-300 p-12 text-center col-span-4 md:col-span-2               xl:col-span-1">2</div>
            <div class="bg-red-300 p-12 text-center col-span-4 md:col-span-2               xl:col-span-1">3</div>
            <div class="bg-red-300 p-12 text-center col-span-4 md:col-span-2               xl:col-span-1">4</div>
            <div class="bg-red-300 p-12 text-center col-span-4                                           2xl:col-span-3">5</div>
            <div class="bg-red-300 p-12 text-center col-span-4                                           2xl:col-span-1">6</div>
            <div class="bg-red-300 p-12 text-center col-span-4               lg:col-span-2 xl:col-span-3 2xl:col-span-2">7</div>
            <div class="bg-red-300 p-12 text-center col-span-4               lg:col-span-2 xl:col-span-1 2xl:col-span-2">8</div>
        </div>
    </div>

    <div class="max-w-screen-2xl mx-auto my-0 p-4">    
        <div class="grid grid-cols-4 gap-4">
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-4 lg:col-span-2 xl:col-span-1 2xl:col-span-1">1</div>
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-4 lg:col-span-2 xl:col-span-1 2xl:col-span-2">2</div>
            <div class="bg-lime-300 p-12 text-center col-span-4               md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1">3</div>
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-4">4</div>
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-4 lg:col-span-2 xl:col-span-4 2xl:col-span-2">5</div>
            <div class="bg-lime-300 p-12 text-center col-span-4               md:col-span-4 lg:col-span-2 xl:col-span-4 2xl:col-span-2">6</div>
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-4 lg:col-span-2 xl:col-span-3 2xl:col-span-1">7</div>
            <div class="bg-lime-300 p-12 text-center col-span-4 sm:col-span-2 md:col-span-4 lg:col-span-2 xl:col-span-1 2xl:col-span-3">8</div>
        </div>
    </div>

    <div class="max-w-screen-2xl mx-auto my-0 p-4 bg-stone-100">

        <div class="grid grid-cols-4 gap-4">

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Шахматы 2022.11</div>
                <img src="../public/img/chess_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Робототехника</div>
                <img src="../public/img/robo2_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Олимпиадная математика 9-10 класс</div>
                <img src="../public/img/olim_matem_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Олимпиадная математика 7-8 класс</div>
                <img src="../public/img/olim_matem2_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

        </div>

    </div>

    <div class="max-w-screen-2xl mx-auto my-0 p-4 pt-0 bg-stone-100">

        <div class="grid grid-cols-4 gap-4">

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Олимпиадная физика 9-10 класс</div>
                <img src="../public/img/olim_phys_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Олимпиадная физика 8 класс</div>
                <img src="../public/img/olim_phys2_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">   
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Программирование на языке Scratch</div>
                <img src="../public/img/scratch_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

            <div class="col-span-4 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1 2xl:col-span-1 rounded-t-xl">
                <div class="bg-white p-4 text-center rounded-t-xl font-bold">Web-разработка</div>
                <img src="../public/img/web_1.png" class="w-full">

                <div class="container p-2 text-black bg-neutral-200 rounded-b-xl">
                    <div class="bg-neutral-200 p-4 text-center rounded-b-xl">21.11.2022 - 30.11.2022</div>
                    <div class="flex justify-center p-2 m-2 bg-white text-center rounded-full font-bold">Подробнее</div>
                </div>
            </div>

        </div>

    </div>

    <!-- <div class="max-w-screen-2xl mx-auto bg-gradient-to-b from-indigo-800 to-blue-950">
        <div>
            <div>
                <a class="text-white font-bold absolute text-2xl pl-80 pt-8">Центр выявления и поддержки одарённых детей г.Севастополя</a>
                <a class="text-white absolute pl-80 pt-20 pb-0">Информационная платформа</a>
                <img class="relative" src="op.svg">
                <ul class=" pl-80 pt-0">
                    <li class="inline-block text-white">
                        <a class="p-2 pl-0">О центре</a>
                    </li>    
                    <li class="inline-block text-white">
                        <a class="p-2 font-bold">Профильные смены</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Интенсивные смены</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Новости</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">ТриУМфМАНия</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Большие вызовы</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Сириус Лето</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="max-w-screen-2xl mx-auto bg-gradient-to-b from-indigo-800 to-blue-950 m-4 ">

                <img class="hidden sm:hidden xl:inline-block absolute pl-16 pt-8" src="../public/svgkartinki/logo.svg">
                <a class="hidden sm:hidden xl:inline-block text-white font-bold absolute text-2xl pl-60 pt-8">Центр выявления и поддержки одарённых детей г.Севастополя</a>
                <a class="hidden sm:hidden xl:inline-block text-white absolute pl-60 pt-20 pb-0">Информационная платформа</a>
                <ul class="hidden sm:hidden xl:block pl-60 pt-32 pb-8">
                    <li class="inline-block text-white">
                        <a class="p-2 pl-0">О центре</a>
                    </li>    
                    <li class="inline-block text-white">
                        <a class="p-2 font-bold">Профильные смены</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Интенсивные смены</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Новости</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">ТриУМфМАНия</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Большие вызовы</a>
                    </li>
                    <li class="inline-block text-white">
                        <a class="p-2">Сириус Лето</a>
                    </li>
                </ul>
                <div class="grid grid-cols-3 gap-3 flex justify-between items-center xl:hidden p-2 mx-auto w-auto">
                    <li class="list-none "></li>
                    <img class="text-center justify-center mx-auto" src="../public/svgkartinki/slovami.svg">
                    <img class="right-0 absolute p-4 btn-menu" src="../public/svgkartinki/tripoloski.svg">
                    <img class="hidden right-0 absolute p-4 btn-close" src="../public/svgkartinki/krestik.svg">
                    <div class="max-w-screen-2xl mx-auto indigo-800 m-4"></div>
                </div>

                <ul class="text hidden text-white grid grid-cols-1 gap-1 flex text-center list-none justify-center xl:hidden pt-0 pb-10">
                    <li>Главная</li>
                    <li>О центре</li>
                    <li class="font-bold bg-white text-black rounded-xl flex items-center justify-center place-self-center w-48 h-7 text-center">Профильные смены</li>
                    <li>Интенсивные программы</li>
                    <li>Новости</li>
                    <li>Курсы</li>
                    <li>ТриУМфМАНия</li>
                    <li>Конкурс защиты НИР</li>
                    <li>Большие вызовы</li>
                    <li>Сириус.лето</li>
                    <li>Личный кабинет</li>
                </ul>
    </div>

    <script>

        let btnMenu = document.querySelector('.btn-menu');
        let btnClose = document.querySelector('.btn-close');
        let text = document.querySelector('.text');

        btnMenu.addEventListener('click', () => {
            btnMenu.classList.add('hidden');
            btnClose.classList.remove('hidden');
            text.classList.remove('hidden');
        });
        
        btnClose.addEventListener('click', () => {
            btnMenu.classList.remove('hidden');
            btnClose.classList.add('hidden');
            text.classList.add('hidden');
        });

    </script>

</body>

</html>